version = 1
name = "yellowpages-proof-service"
uuid = "enclave_7c8330e13b41"
app_uuid = "app_0883710b5780"
team_uuid = "team_2fdd8fada14e"
dockerfile = "./Dockerfile"
api_key_auth = false
trx_logging = true
tls_termination = true
forward_proxy_protocol = false
trusted_headers = []
debug = ${ENCLAVE_DEBUG}

[egress]
enabled = true
destinations = ["${YP_DS_API_URL}"]

[healthcheck]
path = "/health"


[signing]
certPath = "./cert.pem"
keyPath = "./key.pem"
